.portfolio-item {
    width: 50%;
    padding-bottom: 50%;
    height: 100%;
}

.section-header {
    color: white;
    font-weight: 400;
}

.section-sub-header {
     color: #aaa;
     font-weight: 300;
}