.section {
    width: 100vw;
    display: table;
    text-align: center;
}

.hero-section {
    height: 500px;
    background-color: #212121;
}

.hero-div-text {
    color: #212121;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 0 18%;
    color: white;
}

.ethereum-graphic {
    width: 300px;
    height: 300px;
}