.navbar {
    height: 60px;
    padding: 0 10px !important;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    background-color: transparent;
}

.navbar-home {
    background-color: transparent;
}

.navbar-other {
    background-color: transparent;
}

.navbar-brand {
    color: #fff;
}

.navbar-link {
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 25px;
    color: #fff;
    overflow: hidden;
    background: linear-gradient(to right, black, black 50%, #aaa 50%);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.navbar-link:hover {
    background-position: 0 100%;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #212121;
    z-index: 5;
  }

  .right-options {
      justify-content: flex-start;
  }