.footer {
    height: 200px;
    background-color: #212121;
}

.contact-information {
    color: #fff;
}

.social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 280px;
}

#email {
    font-size: 20px;
    font-weight: 400;
}