
/* General */

html, body, #root, .App {
  height: 100vh;
  width: 100vw;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #EEEEEE;
  margin: auto;
}

h1, h2 {
  text-align: center;
}


/* Major Divs */

#main-col {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;

}

/* Sections */

#about-me {

}

@media only screen and (max-width: 600px) {
  #about-me {
    text-align: center;
  }
}

#latest-work {

}

.hero-section {
  margin: 5% 3%;
}

/* Section Properties */

.section-divider {
  width: 80%;
  border-style: none;
  border-top: dotted;
  border-color: rgb(124, 177, 179);
  background-color: transparent;
  border-width: 5px;
  display: flex;
  margin: 5% auto;
}

.section-header-divider {
  width: 50px;
  background-color: rgb(124, 177, 179);
  height: 5px;
}

.section {
  padding: 5% 5%;
}

.section-spacing {
  margin: 20% 0px;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px;
}

.section-header-text {
    letter-spacing: 2px;
    font-size: 1rem;
}

/* Featured */
.featured-work-container {
  margin: 40px 0px;
}
.featured-work-container-right {
text-align: right;
}

@media only screen and (max-width: 600px) {
  .featured-work-container-right {
    text-align: center;
  }
}

.featured-work-container-left {
    text-align: left;
}

@media only screen and (max-width: 600px) {
  .featured-work-container-left {
    text-align: center;
  }
}

.featured-work-btn {
  background-color: rgb(124, 177, 179);
  border-color: rgb(124, 177, 179);
}

/* Random */

.input {
  width: 400px;
  border-radius: 5px;
  border-style:solid;
  border-color: #EEEEEE;
}

.form-title {
  font-size: 15px;
  font-weight: 600;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

#message-container {
  border-radius: 5px;
  border-style:solid;
  border-color: #EEEEEE;
  margin-top: 2px;
  margin-bottom: 10px;
}

#send-button {
  background-color: rgb(124, 177, 179);
  padding: 10px;
}

#view-project-button {
    background-color: rgb(124, 177, 179);
    padding: 10px;
    color: #FFFFFF;
    font-size: 15;
    font-weight: '300';
}

.social-icon {
  margin: 0px 15px;
}


        